services:
  nats:
    image: nats:latest
    command: ["-js", "-m", "8222", "--sd", "/data"]
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - nats_data:/data
volumes:
  nats_data: